<div class="container-fluid ">
  <div class="row justify-content-center bg-primary">
    <div class="col-12 col-xl-8">
      <div class="row justify-content-around">
        <div class="col-7 col-xl-4">
          
          <a class="icon-logo-side d-none d-xl-inline-block display-4 text-white" [routerLink]="['']"></a>
          <a class="icon-logo d-inline-block d-xl-none display-4 text-white" [routerLink]="['']"></a>
          <button class="btn h1 font-weight-bold text-white mb-3" (click)="setCurrency('USD')" [ngClass]="{'text-white-50': type != 'USD' , 'text-white' : type == 'USD'}">
            USD
          </button>
          <button class="btn h1 font-weight-bold mb-3" (click)="setCurrency('EUR')" [ngClass]="{'text-white-50': type != 'EUR' , 'text-white' : type == 'EUR'}">
            EUR
          </button>
        </div>
        <div class="col-4 d-flex justify-content-end pt-3">
              <a class="h1 text-white material-icons" [routerLink]="['/cart']">shopping_cart</a>
              <span *ngIf="cartService.count() > 0" class='badge badge-warning' id='lblCartCount'> {{cartService.count() > 5 ? '5+' : cartService.count()}} </span>
        </div>
      </div>
    </div>
  </div>
</div>
